.title{
    border-bottom: #c7c2c2 solid 3px;
    margin-top: 0.1em;
}
.titleIcon {
    margin-right: 0.3em;
}
.foundIcon{
    color: green;
}
.postedby {
    margin: auto;
}
.details {
    margin: 0.5em 0 0.5em 0.3em;
    padding: 0 0 0.5em 0;
    border-bottom: #817d7d solid 2px;
}
.link{
    color: #94aacc;
    text-decoration: none;
    display: inline-block;
    margin: 0;
}
.link:hover{
    color: #70819b;
    text-decoration: none;
}
.link:active{
    color: #99b6e1;
    text-decoration: none;
}
.imagePreview{
    width: 100%;
    min-height: 20em;
    object-fit: cover;
    border-radius: 1em;
}
.imageBox{
    position: relative;
    background-color: #1e1e20;
    border-radius: 1em;
}
.description{
    background-color: rgba(0, 0, 0, 0.3);
    border-color: black;
    color: #c7c2c2;
    min-height: 5em;
    border-radius: 0.5em;
    padding: 0.2em;
}
.text {
    margin: 0;
    color: #c7c2c2;
}
.loading{
    color: #c7c2c2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 100;
}
.loading > p {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    top: 65px
}
.editButton{
    margin: auto;
    text-align: right;
    float:right;
}
.formTextArea{
    background-color: rgba(0, 0, 0, 0.3);
    border-color: black;
    color: #c7c2c2;
    height: 5em;
}
.formTextArea:focus{
    background-color: rgba(0, 0, 0, 0.4);
    border-color: black;
    color: #c7c2c2;
}
.formDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2em 0;
}
.Form{
    margin: 1em 0;
}
.profilePic{
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    margin-right: 0.5em;
}
.postedby {
    align-items: center;
    margin: auto;
}